* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  font-family: "Arial", sans-serif;
}

html,
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
}

canvas {
  border: 1px solid #000;
}
